<!-- SECCIÓN NBA -->
<section id="nba">
    <div class="background">
        <figure>
            <img src="{{ asset('img/nba-bg.jpg') }}" alt="nba.png">
        </figure>
    </div>
    <div class="container">
        <div class="wrapper">
            <figure>
                <img src="{{ asset('img/nba-logo.png') }}" alt="nba-logo.png">
            </figure>
            <h3 class="align-left">No te pierdas los últimos resultados de la jornada.</h3>
            <form action="core/controladores/controller.resultados-nba.php">
            </form>
        </div>
    </div>
</section>