<!-- SLIDER CON NOTICIAS -->
<section id="slider">

    <div class="bg-slider">
        <figure>
            <img src="{{ asset('img/slider01.jpg') }}" alt="slider01.png">
        </figure>

        <div class="slider-content">
            <div class="col1-50 vs">
                <figure>
                    <img src="{{ asset('img/chelsea.png') }}" alt="chelsea.png">
                </figure>

                <figure>
                    <img src="{{ asset('img/versus.png') }}"  alt="versus.png">
                </figure>

                <figure>
                    <img src="{{ asset('img/liverpool.png') }}" alt=liverpool.png"">
                </figure>

            </div>
            <div class="col1-50">
                <div class="promo">
                    <h3 class="orange">REGÍSTRATE AHORA Y LLÉVATE <span class="extrabold">20€</span></h3>
                    <a class="button loginpopup" href="javascript:void(0)">REGÍSTRATE</a>
                </div>
            </div>
        </div>
    </div>
</section>