<!-- CONTACTO -->
<section id="contacto">
    <div class="wrapper">
        <div class="col1-50">
            <figure>
                <img src="{{ asset('img/logo3T.png') }}" alt="logo3T.png">
            </figure>
            <br>
            <div class="responsable">
                <p>Es mejor estar quieto y en otras no a veces es mejor estar quieto y en otras no lo que no van a hacer nunca las máquinas es fabricar máquinas una cosa es ser solidario y otra es serlo a cambio de nada salvo algunas cosas.</p>
                <p>Un vaso es un vaso y un plato es un plato mejor para mí el suyo, beneficio político ese señor del que usted me habla y en ocasiones es mejor estar en movimiento cuanto mejor peor para todos</p>
            </div>
        </div>
        <div class="col1-50">

            <div class="form">

                <form action="http://localhost/tigerbet/#contacto" name="contacto" method="POST">
                    <h3 class="align-left">CONTACTA CON NOSOTROS</h3>
                    <br>
                    <input type="text" id="contacto-nombre" placeholder="Nombre">
                    <label class="error small align-centrado" for="contacto-nombre"></label>
                    <input id="contacto-email" type="email" placeholder="Email">
                    <label class="error small align-centrado" for="contacto-email"></label>
                    <textarea maxlength="150" id="contacto-comentarios" placeholder="Comentarios"></textarea>
                    <label class="error small align-centrado" for="contacto-comentarios"></label>
                    <button id="send-form">ENVIAR</button>
                </form>

                <div class="result">
                    <p class="align-centrado">Tu mensaje ha sido recibido correctamente.</p>
                </div>
            </div>
        </div>
    </div>
</section>