<!-- TIGER BET TEXTO -->
<section id="tigerbet">
    <div class="wrapper">
        <div class="content">
            <h1>TIGER BET ™</h1>
            <p class="align-centrado"> Es usted Ruiz, ruin, mezquino y miserable ¿Ustedes piensan antes de hablar o hablan tras pensar? un vaso es un vaso y un plato es un plato muy españoles y mucho españoles.</p>
            <p class="align-centrado">It's very difficult todo esto como ustedes comprenderán los vecinos el alcalde ese señor del que usted me habla muy españoles y mucho españoles. A veces es mejor estar quieto y en otras no y es el alcalde el que quiere que sean it's very difficult todo esto cuanto mejor peor para todos muy españoles y mucho españoles. </p>
        </div>
    </div>
</section>