#admin-popup{ background: rgba(0,0,0,0.87); width: 100%; height: 100vh; position: fixed; z-index: 6; display: none; opacity: 0; display: none; transition: all 1200ms ease-in-out;}
#admin-popup .wrapper{height: 100%; position: absolute;}
.inner-form{
    background: #ffffff;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #212121;
    position: relative;
    top: 35px;
    left:25%;
    border-radius: 5px;
    transition: 300ms all ease-in-out;
}
.inner-form form{
    width: 100%;
    margin: 0 auto;
}
.inner-form form .field, .inner-form form .submit{text-align: center; width: 90%; margin: 0 auto;  box-sizing: border-box; padding: 5px;}
.inner-form form .field input,
.inner-form form .submit input{
    padding: 10px;
    border: 2px solid #212121;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.inner-form form .field input{ width: 100%; }
.inner-form form .submit input{
    width: 70%; margin: 20px auto;
    color: #ffffff ;
    background: #011352;
    transition: all 300ms ease-in-out;

}
.inner-form form .submit input:hover{.inner-form
    cursor: pointer;
    color: #212121 ;
    background: #f7941d;
    border: 2px solid #011352;
}
.inner-form form .field a{ color: #f7941d; }
.inner-form form .field a:hover{ color: #011352; }

.inner-form form{ position: relative; top:0; left: 0; }

.hide{ display: none; }
.show{ display: block; }

.msg-error{color: crimson; font-weight: bold; font-size: 12px;
    height: 24px;}