{% extends "base.html.twig" %}

{% block title %}Deportes - Tigerbet{% endblock %}

{% block body %}

    <section class="imagen-cabecera">
        <figure>
            <img src="{{ asset('img/tarjetas.jpg') }}" alt="tarjetas.jpg">
        </figure>
        <h1 class="blanco sombra">INGRESO DE SALDO</h1>
    </section>

    <div class="blog">

        <!-- CONTENIDO PRINCIPAL -->

        <div class="col3-4">
            <div class="wrapper">
                <div class="breadcrumbs">
                    <a href="" class="azul">INICIO</a> > <a href="/ingreso-saldo" class="azul">Ingreso saldo</a>
                </div>

                <section id="grid-casino" class="grid-casino">
                    <div class="wrapper">
                        <br><br>
                        <h3>INGRESO SEGURO STRIPE</h3>
                        <br>
                        <h5>
                            STRIPE es sin duda el TPV más utilizado en España porque es el ofrecido por casi todos los bancos y muchas cajas de ahorros: BBVA, La Caixa, Bankia, Banco Sabadell, Catalunya Bank, Banco Santander, Banco Popular, Deutsche Bank, Barclays Bank...
                        </h5>
                        <h5>
                            STRIPE ofrece una solución segura, flexible y fiable para el procesamiento de los pagos en comercios
                        </h5>
                        <br><br>


                        <div id="payment-request-button">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
        <!-- fin CONTENIDO PRINCIPAL -->

        {% embed "sidebar.html.twig" %}
        {% endembed %}
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/custom-blog.style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/redsys.style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}